<div className="sign-up">
  <h2 className="title">I do not have an account</h2>
  <span>Sign up with your email and password</span>
  <form className="sign-up-form">
    <div class="app-form-group">
      <label class="app-form-input-label shrink" for="email">DisplayName</label>
      <input class="app-form-input" id="email" type="email" name="email" />
    </div>
    <div class="app-form-group">
      <label class="app-form-input-label shrink" for="email">Email</label>
      <input class="app-form-input" id="email" type="email" name="email" />
    </div>
    <div class="app-form-group">
      <label class="app-form-input-label shrink" for="email">Password</label>
      <input class="app-form-input" id="email" type="email" name="email" />
    </div>
    <div class="app-form-group">
      <label class="app-form-input-label shrink" for="email"
        >Confirm Password</label
      >
      <input class="app-form-input" id="email" type="email" name="email" />
    </div>
    <Button class="app-form-button" type="submit">SIGN UP</Button>
  </form>
</div>
