.collections-overview {
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  .collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title {
      font-size: 28px;
      margin-bottom: 25px;
      text-decoration: underline;

      &:hover {
        color: grey;
      }
    }

    .preview {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 900px) {
        flex-wrap: wrap;
      }
    }
  }
}
