<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/crown.svg" alt="" width="50" />
    </a>
    <div>
      <button
        class="navbar-toggler"
        type="button"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseBasic"
      >
        <span class="navbar-toggler-icon" style="font-size: 12px"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="collapseBasic"
        [collapse]="isCollapsed"
      >
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ "Home" | uppercase }}</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.user | async">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/shop"
              routerLinkActive="active-link"
              >{{ "Shop" | uppercase }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/about"
              routerLinkActive="active-link"
              >{{ "Contact" | uppercase }}</a
            >
          </li>
          <li class="nav-item" *ngIf="!(authService.user | async)">
            <a
              class="nav-link"
              routerLink="/auth"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ "Login/Register" | uppercase }}</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.user | async">
            <a class="nav-link" (click)="onSignOut()">{{
              "Sign out" | uppercase
            }}</a>
          </li>
          <li class="nav-item" *ngIf="authService.user | async">
            <a
              class="nav-link"
              routerLink="/checkout"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ "Checkout" | uppercase }}
              <ng-container *ngIf="cartService.cart | async as cartItems">
                <!-- Display the length of the cartItems array -->
                {{ cartItems.length }} item(s) -
              </ng-container>
              <img
                src="../../assets/11.2 shopping-bag.svg.svg"
                alt=""
                width="13"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
